// -----------------------
// Object Fit Images
// -----------------------

@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;

  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: "object-fit: #{$fit}; object-position: #{$position}";
  }

  @else {
    font-family: "object-fit: #{$fit}";
  }
}

// -----------------------
// Font Size Output
// -----------------------

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

// -----------------------
// Font Size Converter
// -----------------------

@function calculate-rem($size) {
  @return $size * 1rem / 16px;
}

// -----------------------
// Width & Height
// -----------------------

@mixin width-height($width, $height: $width) {
  width: $width;
  height: $height;
}
