/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

:root {
  --primary-font: "Isidora", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --decor-font: "Isidora Alt", sans-serif;

  --dark-medium-grey: #a8a99e;
  --ebony: #5f5f57;
  --prussian-blue: #002855;
  --dark-lavender: #734c9f;
  --viridian-green: #008c99;
  --pastel-orange: #ffb549;
  --coral-red: #f9423a;

  --col: 8.3333vw;
}