.banner {
	background-position: center;
	background-size: cover;
	height: 400px;
	padding: 80px var(--col);

	@at-root .home & {
		height: calc(100vh - 165px);
	}

	h1 strong {
		display: block;
	}

	p {
		color: white;
		width: calc(var(--col) * 4);
	}
}