.btn {
	$brand-colors: ("purple", var(--dark-lavender)), ("teal", var(--viridian-green));

	border-radius: 5px;
	color: white;
	font-family: var(--primary-font);
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1;
	padding: 24px 60px 20px;
	text-transform: uppercase;

	@include fontSize(13px);

	&__primary {
		@each $color in $brand-colors {
			&--#{nth($color,1)} {
				background: nth($color,2);
				border-color: nth($color,2);
			}
		}

		&--outline {
			border-style: solid;
			border-width: 4px;

			@each $color in $brand-colors {
				&-#{nth($color,1)} {
					color: nth($color,2);
				}
			}
		}
	}

	&__secondary {
		position: relative;

		&::after {
			bottom: -10px;
			content: '';
			left: 0;
			position: absolute;

			@include width-height(100%, 4px)
		}

		@each $color in $brand-colors {
			&--#{nth($color,1)} {
				color: nth($color,2);
				
				&::after {
					background: nth($color,2);
				}
			}
		}
	}
}