.card {
	&::before {
		background: var(--viridian-green);
		content:'';
		left: 50%;
		position: absolute;
		top: 12px;
		transform: translateX(-50%);

		@include width-height(145px, 12px);
		
	}

	&__container {
		margin-bottom: 40px;
	}

	&__title {
		@extend %h3;
	}

	&__img {
		height: 145px;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}